<div class="row">
  <div class="col-md-12">
    <div class="card">
        <div class="card-header bg-info">
            <h2 class="page-head-title">Cookies</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="addCookie()" #cookieForm="ngForm" name="cookieForm">
            <div class="form-row align-items-center">
              <div class="form-group col-md-3">
                <label for="clave">Clave</label>
                <input type="text" class="form-control" id="clave" 
                  required placeholder="Clave de la cookie" [(ngModel)]="cookieModel.clave" 
                  [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group col-md-4">
                <label for="valor">Valor</label>
                <input type="text" class="form-control" id="valor" 
                  required placeholder="Valor de la cookie" [(ngModel)]="cookieModel.valor" 
                  [ngModelOptions]="{standalone: true}" >
              </div>
              <div class="form-group col-auto">
                <button type="submit" class="btn btn-info"
                  [disabled]="!cookieForm.form.valid || dirty">Crear</button>
              </div> 
            </div>
          </form>
          <table class="table table-hover table-striped table-active">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Clave</th>
                <th scope="col">Valor</th>
                <th scope="col" style="width: 15%">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cookie of cookieList; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{cookie.type}}</td>
                <td>{{cookie.value}}</td>
                <td class="form-actions">
                  <button type="button" class="btn btn-success" (click)="editCookie(cookie)" >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-danger" (click)="deleteCookie(cookie)" >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>