<div class="container">
    <h2 class="titulo">Gestionar servicios</h2>
</div>
<div class="container row">
  <div class="col-md-12">
    <form [formGroup]="formulario" class="">
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" 
            required placeholder="Nombre" formControlName="nombre" />
        </div>
        <div class="form-group col-sm-6">
          <label for="url">Url</label>
          <input type="text" class="form-control" id="url" 
            required placeholder="Url" formControlName="ruta" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
            <label for="metodo">Método</label>
            <select class="form-control custom-select" id="metodo" formControlName="metodo" required>
                <option value="0" selected>Seleccionar...</option>
                <option value="1">GET</option>
                <option value="2">POST</option>
                <option value="3">PUT</option>
                <option value="4">DELETE</option>
                <option value="5">PATCH</option>
            </select>
        </div> 
      </div>
      <div class="form-row">
        <div class="col-sm-12 code-editor">
            <div ace-editor
              mode="json"
              [(text)]="text"
              [options]="options"
              [autoUpdateContent]="true" 
              [durationBeforeCallback]="1000"
              (textChanged)="onChange($event)"
              style="min-height: 200px; overflow: auto;"></div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-12">
          <input type="button" class="float-right btn btn-info" (click)= "crearServicio()" value="Guardar"/>
        </div> 
      </div> 
    </form>
  </div>
</div>
