<nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top justify-content-between">
    <a class="navbar-brand" href="#">Terminal Service</a>

    <form class="form-inline">
        <span class="navbar-text" style="font-weight: bold">
            Juan Arboleda
        </span>
        <a class="nav-link" style="color: white" href="/login">Salir</a>
    </form>
</nav>

<div id="wrapper">
    <div id="sidebar-wrapper">
        <aside id="sidebar">
            <ul id="sidemenu" class="sidebar-nav">
                <li>
                    <a [routerLink]="['/consola']" [routerLinkActive]="['is-active']">
                        <span class="sidebar-icon"><i class="fa fa-terminal"></i></span>
                        <span class="sidebar-title">Consola de servicios</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/servicio']" [routerLinkActive]="['is-active']">
                        <span class="sidebar-icon"><i class="fas fa-cloud"></i></span>
                        <span class="sidebar-title">Gestionar servicios</span>
                        <b class="caret"></b>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/buscarServicio']" [routerLinkActive]="['is-active']">
                        <span class="sidebar-icon"><i class="fa fa-search"></i></span>
                        <span class="sidebar-title">Buscar servicio</span>
                        <b class="caret"></b>
                    </a>
                </li>
            </ul>
        </aside>            
    </div>
    <div class="container" style="background-color: #eeeeee">
        <router-outlet></router-outlet>
        <app-alerts></app-alerts>
    </div>
</div>