/* You can add global styles to this file, and also import other style files */
/*@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);*/

:root {
    --gray-font-color: #979797;
    --main-bg-message-success: #218838;
    --main-bg-side-color: #116a78;
    --main-bg-message-error: #c82333;
}

body {
    /*background-color: black;*/
    /*color: var(--main-font-color);
    font-family: 'Share Tech Mono', monospace;
    /*background: url(https://image.ibb.co/h2hLAJ/bg.png) #000;*/
    position: relative;
    height: 100vh;
}

.data {
   margin: 0 0 2% 0;
}

.blinker { 
    display: inline-block;
    width: 25px;
    height: 35px;
    margin-bottom: -5px;
    margin-left: 10px;
    background: var(--main-font-color);
}

.alertsContainer[_ngcontent-c1] .alertsRow.error[_ngcontent-c1] .messagepanel[_ngcontent-c1] {
    background: var(--main-bg-message-error) !important;
    color: white !important;
    padding: 15px;
}

.alertsContainer[_ngcontent-c1] .alertsRow.error[_ngcontent-c1] {
    background: var(--main-bg-message-error) !important;
    color: white !important;
}

.alertsContainer[_ngcontent-c1] {
    top: 54px !important;
}

.alertsContainer[_ngcontent-c1] .alertsRow.error[_ngcontent-c1] .iconpanel[_ngcontent-c1] {
    background: var(--main-bg-message-error) !important;
    color: white !important;
}

.alertsContainer[_ngcontent-c1] .material-icons[_ngcontent-c1] {
    padding-top: 0 !important;
}

.alertsContainer[_ngcontent-c1] .alertsRow.success[_ngcontent-c1] .iconpanel[_ngcontent-c1] {
    background: var(--main-bg-message-success) !important;
    color: white !important;
}

.alertsContainer[_ngcontent-c1] .alertsRow.success[_ngcontent-c1] {
    background: var(--main-bg-message-success) !important;
    color: white !important;
}

.alertsContainer[_ngcontent-c1] .alertsRow.success[_ngcontent-c1] .messagepanel[_ngcontent-c1] {
    background: var(--main-bg-message-success) !important;
    color: white !important;
    padding: 15px;
}
