/* You can add global styles to this file, and also import other style files */
/*@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);*/
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');

:root {
    --gray-font-color: #979797;
    --main-bg-message-success: #218838;
    --main-bg-side-color: #116a78;
    --main-bg-message-error: #c82333;
    --main-bg-ppal-container: #dedede;
    --main-bg-title-color: #6b6b6b;
}

html {
    font-size: 13px;
}

body {
    position: relative;
    height: 100vh;
    /*font-family: 'Roboto', Arial, sans-serif;*/
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.428571;
    color: #404040;
    text-align: left;
    background-color: #eeeeee;
}

.page-head-title, .page-head-title-black {
    display: block;
    margin-bottom: 5px;
    margin-top: 6px;
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 2.154rem;
    color: white;
    line-height: 36px;
}

.page-head-title-black {
    color: black;
} 

.blinker { 
    display: inline-block;
    width: 25px;
    height: 35px;
    margin-bottom: -5px;
    margin-left: 10px;
    background: var(--main-font-color);
}

.card {
    margin-left: 20px !important;
    margin-top: 7px !important;
}

.alertsContainer[_ngcontent-c1] .alertsRow.error[_ngcontent-c1] .messagepanel[_ngcontent-c1] {
    background: var(--main-bg-message-error) !important;
    color: white !important;
    padding: 15px;
}

.alertsContainer[_ngcontent-c1] .alertsRow.error[_ngcontent-c1] {
    background: var(--main-bg-message-error) !important;
    color: white !important;
}

.alertsContainer[_ngcontent-c1] {
    top: 54px !important;
}

.alertsContainer[_ngcontent-c1] .alertsRow.error[_ngcontent-c1] .iconpanel[_ngcontent-c1] {
    background: var(--main-bg-message-error) !important;
    color: white !important;
}

.alertsContainer[_ngcontent-c1] .material-icons[_ngcontent-c1] {
    padding-top: 0 !important;
}

.alertsContainer[_ngcontent-c1] .alertsRow.success[_ngcontent-c1] .iconpanel[_ngcontent-c1] {
    background: var(--main-bg-message-success) !important;
    color: white !important;
}

.alertsContainer[_ngcontent-c1] .alertsRow.success[_ngcontent-c1] {
    background: var(--main-bg-message-success) !important;
    color: white !important;
}

.alertsContainer[_ngcontent-c1] .alertsRow.success[_ngcontent-c1] .messagepanel[_ngcontent-c1] {
    background: var(--main-bg-message-success) !important;
    color: white !important;
    padding: 15px;
}
